<footer id="footer" role="contentinfo">
    <section class="footer-body">
        <ul>
            <li><a href="http://atlassian.com/company/privacy" target="_blank">Privacy</a></li>
            <li>Version 1.1</li>
            <li><a href="#" onclick="_gaq.push(['_trackEvent', 'Feedback Footer Link', 'Clicked', 'Feedback Footer Link Click']);" class="feedbackCollector">Give feedback</a></li>
            <li><a href="changelog.html">Changelog</a></li>
        </ul>
        <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">OSSFinder</a></div>
    </section>
</footer>