.aui-page-focused .aui-page-panel-content {
  padding: 30px;
}
.aui-page-focused .aui-page-panel-content h2 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.aui-page-focused .aui-page-panel-content input.text,
.aui-page-focused .aui-page-panel-content input.password {
  max-width: inherit;
}
