<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
    <sectionGroup name="bundleTransformer">
			<section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
		  <section name="yui" type="BundleTransformer.Yui.Configuration.YuiSettings, BundleTransformer.Yui" />
      <section name="uglify" type="BundleTransformer.UglifyJs.Configuration.UglifySettings, BundleTransformer.UglifyJs" />
      <section name="less" type="BundleTransformer.Less.Configuration.LessSettings, BundleTransformer.Less" />
    </sectionGroup>
    <sectionGroup name="jsEngineSwitcher">
			<section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
		</sectionGroup>
  </configSections>

  <appSettings>
    <!-- If you're running in Azure, we suggest you set these in your .cscfg file. -->

    <!-- ******************* -->
    <!-- DEPLOYMENT SPECIFIC -->
    <!-- ******************* -->
    <!-- These should change on every deployment (to rotate credentials, etc.) -->
    <add key="OSSFinder.AzureStorageConnectionString" value="" />
    <!-- The connection string for the Azure Storage Account used for Package Storage IF OSSFinder.StorageType is AzureStorage -->

    <!-- ******************** -->
    <!-- ENVIRONMENT SPECIFIC -->
    <!-- ******************** -->
    <!-- These only need to change when defining a new environment -->
    <!-- development only key, override on live site -->
    <add key="OSSFinder.Environment" value="Development" />
    <add key="OSSFinder.FacebookAppId" value="" />
    <!-- Set this if you have a Facebook App ID you want to use for the Like button -->
    <add key="OSSFinder.GoogleAnalyticsPropertyId" value="" />
    <!-- Set this if you have a Google Analytics property for the site -->
    <add key="OSSFinder.AzureCdnHost" value="" />
    <!-- Set this to the Azure CDN Host you are using for blob storage, if you have configured one -->
    <add key="OSSFinder.SiteRoot" value="http://nuget.localtest.me/" />
    <add key="reCAPTCHA::PrivateKey" value="6LcebdwSAAAAAI5dI90LpPMFGKDxdCt6fjwEwMut" />
    <add key="reCAPTCHA::PublicKey" value="6LcebdwSAAAAAFI06sH9RRb2VP1HFCjYpg74lKG7" />

    <!-- ************* -->
    <!-- AUTH SETTINGS -->
    <!-- ************* -->
    <!-- Enabling/Disabling and configuring auth providers -->
    <add key="Auth.LocalUser.Enabled" value="true" />
    <add key="Auth.ApiKey.Enabled" value="true" />
    <add key="Auth.MicrosoftAccount.Enabled" value="true" />
    <add key="Auth.MicrosoftAccount.ClientId" value="000000004010AF4D" />
    <add key="Auth.MicrosoftAccount.ClientSecret" value="RVhIDXm8kabQRYINqwTZgSeyQztTxNyK" />

    <!-- *************** -->
    <!-- STABLE SETTINGS -->
    <!-- *************** -->
    <!-- Depending on your policy, these likely do not need to vary -->

    <!-- SmtpUri is expected to be of the format: smtps://username:password@host:port. Note that if username contains an "@", you need to URI Encode it! -->
    <!--<add key="OSSFinder.SmtpUri" value="" />-->
    <!-- 
        Location for the Lucene Index.
            AppData -> ~/App_Data/Lucene,
            Temp -> [Path.GetTempPath()]/NuGetGallery/Lucene,
    -->

    <add key="OSSFinder.LuceneIndexLocation" value="AppData" />
    <add key="OSSFinder.RequireSSL" value="false" />

    <add key="OSSFinder.Brand" value="OSS Finder" />
    <add key="OSSFinder.GalleryOwner" value="NuGet Gallery &lt;nugetgallery@outercurve.org&gt;" />
    <add key="OSSFinder.ConfirmEmailAddresses" value="true" />

    <!-- ***************** -->
    <!-- ASP.Net settings. -->
    <!-- ***************** -->
    <!-- These should never need to be changed -->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <connectionStrings>
    <add name="OSSFinder.SqlServer" connectionString="Data Source=(local);Initial Catalog=OSSFinder;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <elmah>
    <security allowRemoteAccess="true" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
      </test>
    </errorFilter>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="OSSFinder" />
  </elmah>

  <!-- Ensure only Admins may access elmah and glimpse -->
  <location path="Admin" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="GET" path="Glimpse" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
        <add verb="POST,GET,HEAD" path="Errors.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <authorization>
        <allow roles="Admins" />
        <deny users="*" />
      </authorization>
      <customErrors mode="RemoteOnly" />
    </system.web>
    <system.webServer>
      <handlers>
        <add name="Glimpse" path="Glimpse" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
        <add name="Elmah" path="Errors.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
      <httpErrors>
        <clear />
      </httpErrors>
    </system.webServer>
  </location>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="12000" maxRequestLength="2000000000" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" />

    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
<!--      <add name="AsyncFileUpload" type="NuGetGallery.AsyncFileUpload.AsyncFileUploadModule, NuGetGallery" />-->
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
    <httpHandlers>
      <!-- Remove Default HTTP Handler -->
      <remove path="*" verb="GET,HEAD,POST" />
    </httpHandlers>
    <!-- Note: The Error.html file is in the ~/Public folder, but the URL Rewrite rules below take ~/Error.html and rewrite it appropriately. -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.html">
      <error statusCode="404" redirect="~/Errors/404" />
      <error statusCode="500" redirect="~/Errors/500" />
    </customErrors>
    <sessionState mode="Off" />
  </system.web>
  
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <clear />
        <add path="*">
          <traceAreas>
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Warning" />
          </traceAreas>
          <failureDefinitions statusCodes="500-599" />
        </add>
      </traceFailedRequests>
    </tracing>
    
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="deny" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Strict-Transport-Security" value="maxage=31536000; includeSubDomains" />
      </customHeaders>
    </httpProtocol>

    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
<!--      <add name="AsyncFileUpload" type="OSSFinder.AsyncFileUpload.AsyncFileUploadModule, OSSFinder" preCondition="managedHandler" />-->
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    
    <validation validateIntegratedModeConfiguration="false" />

    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/Errors/404" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />

      <!-- Note: The Error.html file is in the ~/Public folder, but the URL Rewrite rules below take ~/Error.html and rewrite it appropriately. -->
      <!-- Here, we use an HTML page instead of /Errors/500 because if IIS gets a 500, it's a Bad Time(TM) -->
      <error statusCode="500" path="/Error.html" responseMode="ExecuteURL" />
    </httpErrors>
    <security>
      <requestFiltering>
        <!-- Clearing hidden segments and file extensions is done to allow Package IDs with ".vb", ".config", etc.
                in their name to be served. As a result, we disable static file serving above. DO NOT change these settings
                without a security review -->
        <fileExtensions>
          <clear />
        </fileExtensions>
        <hiddenSegments>
          <clear />
          <add segment="ClearScript.V8" />
        </hiddenSegments>
        <!-- maxAllowedContentLength = 250MB * 1024 * 1024 = 262144000 -->
        <requestLimits maxQueryString="12000" maxAllowedContentLength="262144000" />
      </requestFiltering>
    </security>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimetype="application/json" enabled="true" />
        <add mimetype="application/atom+xml" enabled="true" />
        <add mimetype="application/atom+xml;charset=utf-8" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimetype="application/json" enabled="true" />
        <add mimetype="application/atom+xml" enabled="true" />
        <add mimetype="application/atom+xml;charset=utf-8" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  <handlers>
			<add name="LessAssetHandler" path="*.less" verb="GET" type="BundleTransformer.Less.HttpHandlers.LessAssetHandler, BundleTransformer.Less" resourceType="File" preCondition="" />
		</handlers></system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RouteMagic" publicKeyToken="84b59be021aa4cee" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.2.2" newVersion="0.2.2.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973c344c93aac60d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.17.0" newVersion="1.8.17.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.5.0" newVersion="0.9.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(local); Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Admin/Glimpse" serviceLocatorType="OSSFinder.Diagnostics.NinjectGlimpseServiceLocator, OSSFinder">
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
        <add type="Glimpse.Core.Policy.ControlCookiePolicy, Glimpse.Core" />
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>

  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
		<core enableTracing="false">
      <css defaultMinifier="YuiCssMinifier" usePreMinifiedFiles="false">
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="YuiCssMinifier" type="BundleTransformer.Yui.Minifiers.YuiCssMinifier, BundleTransformer.Yui" />
        </minifiers>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
          <add name="LessTranslator" type="BundleTransformer.Less.Translators.LessTranslator, BundleTransformer.Less" />
        </translators>
      </css>
      <js defaultMinifier="UglifyJsMinifier" usePreMinifiedFiles="false">
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="YuiJsMinifier" type="BundleTransformer.Yui.Minifiers.YuiJsMinifier, BundleTransformer.Yui" />
          <add name="UglifyJsMinifier" type="BundleTransformer.UglifyJs.Minifiers.UglifyJsMinifier, BundleTransformer.UglifyJs" />
        </minifiers>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
      </js>
    </core>

    <yui>
      <css compressionType="Standard" removeComments="true" lineBreakPosition="-1" />
      <js compressionType="Standard" obfuscateJavascript="true" preserveAllSemicolons="false" disableOptimizations="false" ignoreEval="false" severity="0" lineBreakPosition="-1" encoding="UTF8" threadCulture="en-us" />
    </yui>

    <less useNativeMinification="false" ieCompat="true" strictMath="false" strictUnits="false" dumpLineNumbers="None" javascriptEnabled="true">
      <jsEngine name="V8JsEngine" />
    </less>

    <uglify>
      <js screwIe8="false" severity="0">
        <parsing strict="false" />
        <compression compress="true" sequences="true" propertiesDotNotation="true" deadCode="true" dropDebugger="true" unsafe="false" conditionals="true" comparisons="true" evaluate="true" booleans="true" loops="true" unused="true" hoistFunctions="true" hoistVars="false" ifReturn="true" joinVars="true" cascade="true" globalDefinitions="" />
        <mangling mangle="true" except="" eval="false" sort="false" topLevel="false" />
        <codeGeneration beautify="false" indentLevel="4" indentStart="0" quoteKeys="false" spaceColon="true" asciiOnly="false" inlineScript="false" width="80" maxLineLength="32000" bracketize="false" semicolons="true" comments="false" preserveLine="false" />
      </js>
      <jsEngine name="V8JsEngine" />
    </uglify>
	</bundleTransformer>
  
  <jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd"><core>
			<engines>
        <!-- Ensure that the machine has the following installed (http://www.microsoft.com/en-us/download/details.aspx?id=30679) -->
				<add name="V8JsEngine" type="JavaScriptEngineSwitcher.V8.V8JsEngine, JavaScriptEngineSwitcher.V8" />
			</engines>
		</core>
  </jsEngineSwitcher>
</configuration>