@{
    ViewBag.Title = "Add a Project";
    Layout = "../Shared/_FocusedWizardLayout.cshtml";
}

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>Add a Project</h1>
        </div>
        <div class="aui-page-header-actions">
            <ol class="aui-progress-tracker aui-progress-tracker-inverted">
                <li class="aui-progress-tracker-step aui-progress-tracker-step-current"><a href="#1">Name and Description</a></li>
                <li class="aui-progress-tracker-step aui-progress-tracker-step-current"><span>Project Dependencies</span></li>
                <li class="aui-progress-tracker-step"><span>Project/Publish Settings</span></li>
            </ol>
        </div>
    </div>
</header>
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <h2>Name and Description</h2>
            <form action="#" method="post" id="d" class="aui">
                <fieldset>
                    <div class="field-group">
                        <label for="d-fname">Application title<span class="aui-icon icon-required"> required</span></label>
                        <input class="text" type="text" id="d-fname" name="d-fname" title="first name">
                        <div class="description">The name your application will be called</div>
                    </div>
                    <div class="field-group">
                        <label for="dBase">Sign up mode</label>
                        <select class="select" id="dBase" name="dBase" title="database select">
                            <option>Public</option>
                            <option>Private</option>
                        </select>
                        <div class="description"><strong>Public:</strong> Users can sign up on their own<br><strong>Private:</strong> Users will be created by Administrators</div>
                    </div>
                    <div class="field-group">
                        <label for="d-fname">Base URL<span class="aui-icon icon-required"> required</span></label>
                        <input class="text" type="text" id="d-fname" name="d-fname" title="first name">
                        <div class="description">The base URL of this Stash installation for users to access</div>
                    </div>
                    <div class="field-group">
                        <label for="fname">Server ID</label>
                        <span class="field-value">B7VT-JGUO-K7GJ-JYRG</span>
                    </div>
                    <div class="field-group">
                        <label for="d-fname">Application title<span class="aui-icon icon-required"> required</span></label>
                        <input class="text" type="text" id="d-fname" name="d-fname" title="first name">
                        <div class="description">The name your application will be called</div>
                    </div>
                    <div class="field-group">
                        <label for="comment">License key<span class="aui-icon icon-required"> required</span></label>
                        <textarea class="textarea long-field" name="comment" id="comment" rows="4"></textarea>
                    </div>
                    <fieldset class="group">
                        <legend><span>Analytics opt-in</span></legend>
                        <div class="checkbox">
                            <input class="checkbox" type="checkbox" name="cbOne" id="cbOne">
                            <label for="cbOne">Allow anonymous usage tracking to help improve Stash</label>
                        </div>
                    </fieldset>
                </fieldset>
                <div class="buttons-container">
                    <div class="buttons">
                        <input class="aui-button aui-button-primary" type="submit" id="submit" name="submit" value="Next">
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
